<section class="padding">
  <div class="row">
    <div class="column_9">
      <article class="row">
        <div class="column_9 margin-bottom">
          <% @posts.reverse_each do |post| %>
          <h2>
            <%= link_to post.title, post_path(post) %>
          </h2>
          <h6> Written by <a href="#" class="text bold color"><%= post.author %></a></h6>
          <div class="margin-top">
            <p class="text normal"><%= post.text %></p>
          </div>
          <% if user_signed_in? %>
          <div class="margin-top">
              <%= link_to 'Show', post_path(post), {:class => "small button secondary"} %> |
              <%= link_to 'Edit', edit_post_path(post), {:class => "small button secondary"} %>
            </div>
          <% end %>
            <hr>
          <% end %>

        </div>
      </article>
    </div>

    <aside class="column_3">
      <div class="bck dark padding color white margin-bottom">
        <h5 class="text normal">Featured News</h5>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
      </div>

    </aside>
  </div>
</section>
