<section class="padding">
  <div class="row">
    <div class="column_9">
      <% if user_signed_in? %>
      <%= link_to 'Create New Post', new_post_path, {:class => "large button secondary"} %>
        <hr>
        <% end %>
      <article class="row">
        <div class="column_9 margin-bottom">
          <% @posts.each do |post| %>
          <%# @posts.reverse_each do |post| (REVERSES ORDER) %>
          <h1>
            <%= link_to post.title, post_path(post) %>
          </h1>
          <h6 class="text bold color"> Written by <%= post.author %></h6>
          <div class="margin-top">
            <p class="text normal"><%= @str = post.text.html_safe %></p>
          </div>
          <% if user_signed_in? %>
          <div class="margin-top">
              <%= link_to 'Show', post_path(post), {:class => "small button secondary"} %> |
              <%= link_to 'Edit', edit_post_path(post), {:class => "small button secondary"} %>
            </div>
          <% end %>
            <hr>
          <% end %>

        </div>
      </article>
    </div>

    <aside class="column_3">
      <div class="bck dark padding color white margin-bottom">
        <h4 class="text normal">Featured News</h4>
          <p class="book">Dr. Fatoki's first published book<br> <span class="text italic">The Fatoki Protocol: It's All About the 1/3 </span><br> is now available!</p>
          <div class="fatoki padding-top padding-left"><a href="http://www.amazon.com/The-Fatoki-Protocol-Its-about/dp/0988628902"><%= image_tag("book.jpg", :width => "140px", :height => "210px")%></a></div>
      </div>


      <a class="twitter-timeline" href="https://twitter.com/Obesity_Doc" data-widget-id="384869328241192961">Tweets by @Obesity_Doc</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>




    </aside>
  </div>
</section>
