<section class="padding">
<div class="row">
	<div class="column_11 offset_1">
<h1>New Post right here!</h1>
	</div>
</div>

<%= form_for :post, url: posts_path do |f| %>

	<div class="row">
		<div class="column_8 offset_2 padding bottom">
			<% if @post.errors.any? %>
			<div id="errorExplanation">
				<h4><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h4>
				<ul>
					<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
			<% end %>
		<hr>
			<p>
				<%= f.label :title %><br>
				<%= f.text_field :title %>
			</p>

			<p>
				<%= f.label :author %><br>
				<%= f.text_field :author %>
			</p>

			<p>
				<%= f.label :text %><br>
				<%= f.text_area :text %>
			</p>

			<p> <%= f.submit %>
			</p>

			<hr>
		<%= link_to 'Back', posts_path %>
		</div>
	</div>
	

<% end %>


</section>
