<!DOCTYPE html>
<html>
<head>
  <title>No Fat MD</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<header class="bck light padding">
		<div class="row">
			<div class="column_6">
				<h2><%= link_to 'No Fat MD', posts_path, {:class => "text italic thin"} %></h2>
			</div>
			<nav class="column_6 text right bold">
				<%= link_to 'Home', posts_path, {:class => "button small"} %>
				<%= link_to 'About Me', webpages_about_path, {:class => "button small"} %>
				<%= link_to 'Contact', webpages_contact_path, {:class => "button small"} %>
			</nav>
		</div>
	</header>

</head>
<body>

	<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>

</body>

<footer class="bck dark padding">
		<div class="row margin-top margin-bottom">
			<div class="row">
			<div class="column_11">
				<h2 class="text italic thin"></h2>
			</div>
			<nav class="column_1 text right bold">
				<% if user_signed_in? %>
					<%= link_to 'Logout', destroy_user_session_path(@user), method: :delete , :class => "button small" %>
				<% else %>
				<% end %>
			</nav>
		</div>
	</footer>
</html>
